<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="css/findBuddy.css" />
  </head>
  <body>
    <nav>
      <div class="container">
        <h2 class="logo">Foodogram</h2>
        <div class="search-bar">
          <i class="uil uil-search"></i>
          <input
            type="text"
            placeholder="Search for recipes, ingredients and more"
          />
        </div>
        <div class="create">
          <label class="btn btn-primary" for="create-post">
            <a href="/createpost"> <span>Create </span></a>
          </label>
          <div class="profile-picture">
            <img src="./Images/profile.jpg" alt="logo" />
          </div>
        </div>
      </div>
    </nav>
    <!---main-->
    <main>
      <div class="container">
        <!--Leftbox-->
        <div class="left">
          <a href="" class="profile">
            <div class="profile-picture">
              <img src="./Images/profile.jpg" alt="logo" />
            </div>
            <div class="handle">
              <h3>NAME</h3>
              <p class="text-muted">@username</p>
            </div>
          </a>
          <!--sidebar-->
          <div class="sidebar">
            <a href="/home" class="menu-item">
              <span> <i class="uil uil-home"></i></span>
              <h3>Home</h3>
            </a>
            <a href="/home" class="menu-item" id="message-notification">
              <span> <i class="uil uil-message"></i></span>
              <h3>Messages</h3>
            </a>
            <a class="menu-item active">
              <span> <i class="uil uil-users-alt"></i></span>
              <h3>Find My Buddy</h3>
            </a>
            <label for="create-post" class="btn btn-primary"
              ><a href="/createpost">Create Post</a></label
            >
          </div>
        </div>
        <!--right-->
        
        <div class="middle">
          <h3>What Do You Want To Eat Today?</h3>
          <button class="big-button">Chinese</button>
          <button class="big-button">Italian</button>
          <button class="big-button">Mexican</button>
          <button class="big-button">Indian</button>
          <button class="big-button">Mexican</button>
       
        </div>
       
        <div class="card-container">
          
  
          <div class="card">
            <div>
              <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="girl">
            </div>
             <div class="author">
                 <div class="profile"></div>
                 <div class="info">
                     <div class="name">Juliana Hose</div>
                 </div>
                 
                 <div> <button class="btn btn-primary">Follow</button></div>
             </div>
         </div>
         <div class="card">
          <div>
            <img src="https://media.istockphoto.com/photos/pleasant-young-indian-woman-freelancer-consult-client-via-video-call-picture-id1300972573?k=20&m=1300972573&s=612x612&w=0&h=Tiwi8Y0q8FBg8nL0i5GL_GslELTVLKkEB2e6m63Jlcg=" alt="girl">
          </div>
           <div class="author">
               <div class="profile"></div>
               <div class="info">
                   <div class="name">Venessa Parker</div>
               </div>
           </div>
           <div> <button class="btn btn-primary">Follow</button></div>
       </div>
       <div class="card">
        <div>
          <img src="https://st3.depositphotos.com/1037987/15097/i/600/depositphotos_150975580-stock-photo-portrait-of-businesswoman-in-office.jpg" alt="girl">
        </div>
         <div class="author">
             <div class="profile"></div>
             <div class="info">
                 <div class="name">Candice Mendes</div>
             </div>
         </div>
         <div> <button class="btn btn-primary">Follow</button></div>
     </div>
     <div class="card">
      <div>
        <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_481292845_77896.jpg" alt="girl">
      </div>
       <div class="author">
           <div class="profile"></div>
           <div class="info">
               <div class="name">David Holland</div>
           </div>
       </div>
       <div> <button class="btn btn-primary">Follow</button></div>
   </div>
   <div class="card">
    <div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2r9EI_bZeNedCfy4_dQwchoXYSQ7UmSpnUcINAMan6Rp0o_E36-Wgaepkk_eaOrFzO4M&usqp=CAU" alt="girl">
    </div>
     <div class="author">
         <div class="profile"></div>
         <div class="info">
             <div class="name">Peter Kevinsky</div>
         </div>
     </div>
     <div> <button class="btn btn-primary">Follow</button></div>
 </div>
          
  
      </div>
    </main>

    <!-- <script src="./index.js"></script> -->
  </body>

  <script type="text/javascript">
    const menuItems = document.querySelectorAll(".menu-item");

    const changeActiveItem = () => {
      menuItems.forEach((item) => {
        item.classList.remove("active");
      });
    };

    menuItems.forEach((item) => {
      item.addEventListener("click", () => {
        changeActiveItem();
        item.classList.add("active");
      });
    });
  </script>
</html>
