<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="css/findBuddy.css" />
  </head>
  <body>
    <nav>
      <div class="container">
        <h2 class="logo">Foodogram</h2>
        <div class="search-bar">
          <i class="uil uil-search"></i>
          <input
            type="text"
            placeholder="Search for recipes, ingredients and more"
          />
        </div>
        <div class="create">
          <label class="btn btn-primary" for="create-post">
            <a href="/createpost"> <span>Create </span></a>
          </label>
          <div class="profile-picture">
            <img src="./Images/profile.jpg" alt="logo" />
          </div>
        </div>
      </div>
    </nav>
    <!---main-->
    <main>
      <div class="container">
        <!--Leftbox-->
        <div class="left">
          <a href="" class="profile">
            <div class="profile-picture">
              <img src="./Images/profile.jpg" alt="logo" />
            </div>
            <div class="handle">
              <h3>NAME</h3>
              <p class="text-muted">@username</p>
            </div>
          </a>
          <!--sidebar-->
          <div class="sidebar">
            <a href="/home" class="menu-item">
              <span> <i class="uil uil-home"></i></span>
              <h3>Home</h3>
            </a>
            <a href="/home" class="menu-item" id="message-notification">
              <span> <i class="uil uil-message"></i></span>
              <h3>Messages</h3>
            </a>
            <a class="menu-item active">
              <span> <i class="uil uil-users-alt"></i></span>
              <h3>Find My Buddy</h3>
            </a>
            <label for="create-post" class="btn btn-primary"
              ><a href="/createpost">Create Post</a></label
            >
          </div>
        </div>
        <!--right-->
        
        <div class="middle">
          <% if(typeof(prof) == 'undefined') {%>
          <h3>What Do You Feel Like Eating Today?</h3>
          <form action="/cuisine" method="post">
          <div class="cuisine">
          <button class="big-button" name="cuisine" value=chinese>Chinese</button>
          <button class="big-button" name="cuisine" value=italian>Italian</button>
          <button class="big-button" name="cuisine" value=mexican>Mexican</button>
          <button class="big-button" name="cuisine" value=indian>Indian</button>
          <button class="big-button" name="cuisine" value=japanese>Japanese</button>
       
         </div> 
         </form>
         <%}%>
         <% if(typeof(prof) != 'undefined') {%>
        <div class="card-container">
          
          <%  prof.map(function(elem) {%>
            <%console.log(elem)%>
          <div class="card">
            <div>
              <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="girl">
            </div>
             <div class="author">
                 <div class="profile"></div>
                 <div class="info">
                     <div class="name"><%=elem.name%></div>
                 </div>
                 
                 <div> <a href="./follow?userid=<%=elem._id%>" class="btn btn-primary"> Follow</a></div>
             </div>
         </div>
         <% }) %>
         
       
          
  
      </div>
      <%}%>
      </div>
    </main>

    <!-- <script src="./index.js"></script> -->
  </body>

  <script type="text/javascript">
    const menuItems = document.querySelectorAll(".menu-item");

    const changeActiveItem = () => {
      menuItems.forEach((item) => {
        item.classList.remove("active");
      });
    };

    menuItems.forEach((item) => {
      item.addEventListener("click", () => {
        changeActiveItem();
        item.classList.add("active");
      });
    });
  </script>
</html>
