<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    
    <link rel="stylesheet" href="css/message.css" />
    
  </head>
  <body>
    <nav>
      <div class="container">
        <h2 class="logo">Foodogram</h2>
        <div class="search-bar">
          <i class="uil uil-search"></i>
          <input
            type="text"
            placeholder="Search for recipes, ingredients and more"
          />
        </div>
        <div class="create">
          <label class="btn btn-primary" for="create-post">
            <a href="/createpost"> <span>Create </span></a>
                    </label>
          <div class="profile-picture">
            <img src="./Images/profile.jpg" alt="logo" />
          </div>
        </div>
      </div>
    </nav>
    <!---main-->
    <main>
      <div class="container">
        <!--Leftbox-->
        <div class="left">
          <a href="" class="profile">
            <div class="profile-picture">
              <img src="./Images/profile.jpg" alt="logo" />
            </div>
            <div class="handle">
              <h3>NAME</h3>
              <p class="text-muted">@username</p>
            </div>
          </a>
          <!--sidebar-->
          <div class="sidebar">
            <a href="/home" class="menu-item">
              <span> <i class="uil uil-home"></i></span>
              <h3>Home</h3>
            </a>
            <a href="" class="menu-item active" id="message-notification">
              <span> <i class="uil uil-message"></i></span>
              <h3>Messages</h3>
            </a>
            <a class="menu-item">
              <span> <i class="uil uil-users-alt"></i></span>
              <h3>Find My Buddy</h3>
            </a>
            <label for="create-post" class=" btn btn-primary"><a href="/createpost">Create Post</a></label>
          </div>
        </div>
        <!--right-->
        <div class="middle">
            <div class="feeds">
                <div class="heading">
                    <h4>
                       Siddhi
                    </h4>
                    
                </div>
                <div class="container-msg">
  <img src="Images/profimg.jpg" alt="Avatar" style="width:100%;">
  <p>Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div>

<div class="container-msg darker">
  <img src="Images/profimg.jpg" alt="Avatar" class="right" style="width:100%;">
  <p>Hey! I'm fine. Thanks for asking!</p>
  <span class="time-left">11:01</span>
</div>

<div class="container-msg">
  <img src="Images/profimg.jpg" alt="Avatar" style="width:100%;">
  <p>Sweet! So, what do you wanna do today?</p>
  <span class="time-right">11:02</span>
</div>

<div class="container-msg darker">
  <img src="Images/profimg.jpg" alt="Avatar" class="right" style="width:100%;">
  <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
  <span class="time-left">11:05</span>
</div>
       
        <div class="footer-chat">
          <i class="" style="font-size:25pt;" aria-hidden="true"></i>
          <form action="/sendmessage" method="post">
          <input type="text"  name="text" class="write-message" placeholder="Type your message here"></input>

         

          
          <input type="hidden" name="userid" value="<%=userid%>">
          <button type='submit'><i class="uil uil-message"></i></button>
         
        </div>
         </div>
      </div>

    </form>
      <div class="right">
        <div class="messages">
          <div class="heading">
              <h4>
                  Messages
              </h4>
              <i class="uil uil-edit"></i>
          </div>
          <!--Searchbar-->
          <div class="search-bar">
              <i class="uil uil-search"></i>
              <input type="text" placeholder="Search Messages" id="message-search" class="search-input">
              
          </div>
          
          <!-- <div class="category">
              <h6 class="active">Primary</h6>
              
             

          </div> -->
          <div class="message">
              <div class="profile-picture">
                  <img
                  
                  src="./Images/profimg.jpg"
                  alt="logo"
                  
                />
              </div>
              <div class="message-body">
                  <h5>Siddhi</h5>
                  <p class="text-muted">hey how u doin?</p>
              </div>
          </div>
          <div class="message">
              <div class="profile-picture">
                  <img
                  
                  src="./Images/prof2.jpg"
                  alt="logo"
                  
                />
              </div>
              <div class="message-body">
                  <h5>Dhruv</h5>
                  <p class="text-muted">okay.</p>
              </div>
          </div>
          </div>
      </div>
    </main>

    <!-- <script src="./index.js"></script> -->
  </body>
  
  <script type="text/javascript">
  const menuItems=document.querySelectorAll('.menu-item');

const changeActiveItem=()=>{
    menuItems.forEach(item=>{
        item.classList.remove('active');
    });
}

menuItems.forEach(item=>{
    item.addEventListener('click',()=>{
        changeActiveItem();
        item.classList.add('active');
      
    });
})
</script>
</html>
